body{
  position:relative;
  background-color:var(--white-color);
  transition:2s;
  color:var(--main-color);

}
.currentPage{
  opacity:0.5;
}
.under-line{
  background:linear-gradient(transparent 50%, #f5e538 0%);

}
.splash {
	position: fixed;
	width: 100%;
	height: 100%;
	z-index: 99999;
	background:#eee;
	text-align:center;
	color:#fff;
}

.splash_logo {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);


}

.splash_logo svg{
    width:300px;
}


.mask path {
		fill-opacity: 0;/*最初は透過0で見えない状態*/
		transition: fill-opacity .5s;/*カラーがつく際のアニメーション0.5秒で変化*/
		fill: none;/*塗りがない状態*/
		stroke: #111;/*線の色*/
    stroke-width:3px;
	}

#mask.done path{
	  fill: var(--main-color);/*塗りの色*/
	  fill-opacity: 1;/*透過1で見える状態*/
	  stroke: none;/*線の色なし*/
	}
#particles-js{
	position:fixed;/*描画固定*/
	z-index:-100;/*描画を一番下に*/
	width: 100%;
	height: 100%;
	background-color:var(--white-color);/*背景色*/
}
.menu{
  display: flex;
  justify-content:flex-start;
  justify-content: center;
  align-items: center;
  margin:0;
  flex-direction: row-reverse;
  /* background-color:pink; */
}
.menu-ul{
  list-style: none;
  font-size:1rem;
}
 .menu-item{
  /* background-color:green; */
  display:inline-block;
  padding:5px 20px;
  font-weight:600;

  position: relative;
  text-align:center;
}

.menu-item-l{

}
.menu-item-s{
  font-size:0.6rem;
}

.menu-item::before,.menu-item::after{
  content:"";
    /*絶対配置で線の位置を決める*/
  position: absolute;
    /*線の形状*/
  width: 0;
  height:2px;
  background:var(--accent-color);
/*アニメーションの指定*/
  transition: all 0.2s linear;
  transition-delay: 0.2s;
}

.menu-item::before{
  right: 0;
  top: 0;
}
.menu-item::after{
  left: 0;
  bottom: 0;
}
.menu-item span{
  display: block;
}

.menu-item span::before,
.menu-item span::after{
  content:"";
    /*絶対配置で線の位置を決める*/
  position: absolute;
    /*線の形状*/
  width:2px;
  height:0;
  background:var(--accent-color);
/*アニメーションの指定*/
  transition: all 0.2s linear;
}

.menu-item span::before{
  left: 0;
  top: 0;
}
.menu-item span::after{
  right: 0;
  bottom: 0;
}
.menu-item.current::before,
.menu-item.current::after,
.menu-item:hover::before,
.menu-item:hover::after{
  width: 100%;/*横幅を100%に*/
}

.menu-item.current span::before,
.menu-item.current span::after,
.menu-item:hover span::before,
.menu-item:hover span::after{
  height: 100%;/*縦幅を100%に*/
}

.menu-item:hover{
  animation: smallbig 1s infinite;

}
@keyframes smallbig {

    50% {
			transform:scale(1.1);
    }


		}


/*========= ナビゲーションのためのCSS ===============*/

/*アクティブになったエリア*/
.g-nav.panelactive{
    /*position:fixed;にし、z-indexの数値を大きくして前面へ*/
    position:fixed;
    z-index: 999;
	top: 0;
	width:100%;
    height: 100vh;
}

/*丸の拡大*/
.circle-bg{
    position: fixed;
	z-index:3;
    /*丸の形*/
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background: var(--white-color);
    /*丸のスタート位置と形状*/
	transform: scale(0);/*scaleをはじめは0に*/
	right:-50px;
    bottom:-50px;
    transition: all .6s;/*0.6秒かけてアニメーション*/
}

.circle-bg.circleactive{
	transform: scale(50);/*クラスが付与されたらscaleを拡大*/
}

/*ナビゲーションの縦スクロール*/
.g-nav-list{
    display: none;/*はじめは表示なし*/
    /*ナビの数が増えた場合縦スクロール*/
    position: fixed;
    z-index: 999;
    width: 100%;
    height: 100vh;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
}

.g-nav.panelactive .g-nav-list{
     display: block; /*クラスが付与されたら出現*/
}

/*ナビゲーション*/
.g-nav ul {
	opacity: 0;/*はじめは透過0*/
    /*ナビゲーション天地中央揃え※レイアウトによって調整してください。不必要なら削除*/
    position: absolute;
    z-index: 999;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
}

/*背景が出現後にナビゲーションを表示*/
.g-nav.panelactive ul {
    opacity:1;
}

/* 背景が出現後にナビゲーション li を表示※レイアウトによって調整してください。不必要なら削除*/
.g-nav.panelactive ul li{
animation-name:gnaviAnime;
animation-duration:1s;
animation-delay:.2s;/*0.2 秒遅らせて出現*/
animation-fill-mode:forwards;
opacity:0;
}
@keyframes gnaviAnime{
0% {
opacity: 0;
}
100% {
opacity: 1;
}
}


/*リストのレイアウト設定*/
.g-nav li{
	text-align: center;
	list-style: none;
}

.g-nav li a{
	color: var(--main-color);
	text-decoration: none;
	padding:10px;
	display: block;
	text-transform: uppercase;
	letter-spacing: 0.1em;
	font-weight: bold;
  font-size:1.2rem;
}


/*========= ボタンのためのCSS ===============*/
.openbtn{
	position:fixed;
	bottom:15px;
	right: 15px;
	z-index: 9999;/*ボタンを最前面に*/
	cursor: pointer;
    width: 50px;
    height:50px;
    background-color:var(--gray-color);
}

/*×に変化*/
.openbtn span{
    display: inline-block;
    transition: all .4s;
    position: absolute;
    left: 14px;
    height: 3px;
    border-radius: 2px;
	background-color: var(--main-color);
  	width: 45%;
  }

.openbtn span:nth-of-type(1) {
	top:15px;
}

.openbtn span:nth-of-type(2) {
	top:23px;
}

.openbtn span:nth-of-type(3) {
	top:31px;
}

.openbtn.active span:nth-of-type(1) {
    top: 18px;
    left: 18px;
    transform: translateY(6px) rotate(-45deg);
    width: 30%;
}

.openbtn.active span:nth-of-type(2) {
	opacity: 0;
}

.openbtn.active span:nth-of-type(3){
    top: 30px;
    left: 18px;
    transform: translateY(-6px) rotate(45deg);
    width: 30%;
}


.top{
}

.top-bar{
  display:flex;
  justify-content:space-between;
  /* height:100px; */
  padding:10px;
}
.logo-div{
  display:flex;
  flex-flow: column;
  align-items: center;
}
.logo-div p{
  font-family: 'Righteous', cursive;

}
.logo{
  height:60px;
}
.logo-white{
  /* margin:20px 0; */
}
a:visited{
  text-decoration:none;
  color:var(--main-color);
}
a:link{
  text-decoration:none;
  color:var(--main-color);
}
.btn-div a:link{
  text-decoration:none;
  color:var(--white-color);
}
.btn-div a:visited{
  text-decoration:none;
  color:var(--white-color);
}
.btn-div-center a:link{
  text-decoration:none;
  color:var(--white-color);
}
.btn-div-center a:visited{
  text-decoration:none;
  color:var(--white-color);
}

.btn-div{
  display: flex;
  align-items: center;
  margin-right:10px;
  position:absolute;
  right:0;
  display:none;
}
.btn{
  color:var(--white-color);
  background-color:var(--button-color);
  font-size: 1rem;
  font-weight:600;
  position: relative;
  border-radius: 27px;
  padding:10px 40px 10px 30px;
  border-bottom: 5px solid #00662d;
  transition:0.1s;
  margin-bottom:3px;
}

.btn::before{
    content: '';
    position: absolute;
    right: 20px;
    width: 8px;
    height: 8px;
    border-top: 3px solid var(--white-color);
    border-right: 3px solid var(--white-color);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    margin-top:8px;
    z-index:10;
}
.btn:hover {
  margin-top: 3px;
  margin-bottom:0px;
  border-bottom: 2px solid #00662d;
}
.btn-right{
  /* display:none; */
}
.top-contents{
  /* background-color:green; */
  height:750px;
  padding-top:50px;
}
.top-body{
  position:relative;
}
.top-body img{
  height:550px;
  position:absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin:0 auto;
  filter: grayscale(100%);

}
.top-body-text{
  width:500px;
  position:absolute;
  top:185px;
  right:0;
  left:0;
  margin:0 auto;
  text-align:center;
  color:var(--white-color);
  background:var(--main-color);
  padding:30px 0;
  border-radius:20px;
  border-bottom: 8px solid var(--accent-color);
  /* filter:drop-shadow(10px 10px gray); */
  /* transition: all 1s 0.1s ease; */
  /* transition:all 0.1s 0.1s ease; */
  /* border:10px solid var(--accent-color); */
}
.top-body-text:hover{
  /* margin-top:5px;
  border-bottom:3px solid gray; */
}
.top-body-text h1{
  font-size:3rem;
  font-family: 'Righteous', cursive;
  letter-spacing:2px;
}
.top-body-text p{
  font-size:1rem;
  font-weight:700;
}
.top-body-text span{
  text-emphasis: filled;
 -webkit-text-emphasis: filled;
}
.yureru-j {
    animation: yureru-j 4s infinite;
}
@keyframes yureru-j {

    0% {
      margin:0 auto;
      /* border-bottom: 8px solid var(--gray-color); */
    }
    10% {
      margin-top:5px;
      /* border-bottom:3px solid var(--gray-color); */
    }
    20% {
      margin:0 auto;
      /* border-bottom: 8px solid var(--gray-color); */
    }
    30% {
      margin-top:5px;
      /* border-bottom:3px solid var(--gray-color); */
    }
    40% {
      margin:0 auto;
      /* border-bottom: 8px solid var(--gray-color); */
    }

}
.TextTyping span {
	display: none;
}

/*文字列後ろの線の設定*/
.TextTyping::after {
 	content: "|";
	animation: typinganime .8s ease infinite;
}

@keyframes typinganime{
	from{opacity:0}
	to{opacity:1}
}

.body{
  position:relative;
}




.wave{
position:relative;
height:100px;
}
.canvas{
position: absolute;
bottom: 0;
left:0;
width: 100%;
margin-top:200px;
}
.service{
  background-color:var(--main-color);
  filter:drop-shadow(0px 10px 0px var(--gray-color));
  /* height:900px; */
  padding-bottom:200px;
  color:var(--white-color);

}

.service-contents{
  padding-top:50px;
  padding-bottom:100px;
}
.tittle{
  margin-left:50px;
}
.service .tittle h1,.service .tittle p {
  transform:translateY(-90px);
  color:var(--white-color);
}
.tittle h1{
  font-size:3.2rem;
  /* font-family: 'Luckiest Guy', cursive; */
  line-height:35px;
  font-family: 'Righteous', cursive;

}
.tittle p{
  font-size:1rem;
  margin-left:130px;

}
.center{
  text-align:center;
}
.serviceLine-box{

}
.serviceLine{
  margin:30px 0 80px;
}
.service-top{
  margin:20px 0 100px;

}
.service-top h1{
  font-size:2.7rem;
  margin:20px 0 100px;
  position: relative;
  background: var(--white-color);
  width:500px;
  margin:auto;
  padding:20px;
  color:var(--main-color);
}
.service-top h1:before {
  position: absolute;
  top: -7px;
  left: 7px;
  width: 100%;
  height: 100%;
  content: '';
  border: 4px solid var(--accent-color);
}



.line-title h2{
  font-size:2.5rem;
  height:0px;
}

.line-title h3{
  font-size:6rem;
  opacity:0.2;
  transform:translateY(-40px);
}
.line-para{
  transform:translateY(-40px);/* うえと同じ数字 */
  font-size:1rem;
  position: relative;
  text-align:left;
}
.line-para:before {
  content: "";
  position: absolute;
  top: -24px;
  left: 50%;
  margin-left: -15px;
  border: 12px solid transparent;
  border-bottom: 12px solid var(--white-color);
  z-index: 2;
}


.line-para p{
  background-color:var(--white-color);
  background-image:
  repeating-linear-gradient(to bottom,
    transparent 25px,
    rgba(0, 0, 0, 0.04) 26px,  rgba(0, 0, 0, 0.04) 26px,
    transparent 27px,  transparent 51px,
    rgba(0, 0, 0, 0.04) 52px,  rgba(0, 0, 0, 0.04) 52px,
    transparent 53px,  transparent 77px,
    rgba(0, 0, 0, 0.04) 78px,  rgba(0, 0, 0, 0.04) 78px,
    transparent 79px,  transparent 103px,
    rgba(0, 0, 0, 0.04) 104px,  rgba(0, 0, 0, 0.04) 104px,
    transparent 105px,  transparent 129px,
    rgba(0, 0, 0, 0.04) 130px,  rgba(0, 0, 0, 0.04) 130px),

  repeating-linear-gradient(to right,
    transparent 25px,
    rgba(0, 0, 0, 0.04) 26px,  rgba(0, 0, 0, 0.04) 26px,
    transparent 27px,  transparent 51px,
    rgba(0, 0, 0, 0.04) 52px,  rgba(0, 0, 0, 0.04) 52px,
    transparent 53px,  transparent 77px,
    rgba(0, 0, 0, 0.04) 78px,  rgba(0, 0, 0, 0.04) 78px,
    transparent 79px,  transparent 103px,
    rgba(0, 0, 0, 0.04) 104px,  rgba(0, 0, 0, 0.04) 104px,
    transparent 105px,  transparent 129px,
    rgba(0, 0, 0, 0.04) 130px,  rgba(0, 0, 0, 0.04) 130px);
  padding:50px 30px;
  margin:0 200px;
  color:var(--main-color);
}

.btn-div-center{
  text-align:center;
}
.btn-div-center p{
  color:var(--white-color);

}
.btn-center{
  display: flex;
  align-items: center;
  margin: auto;
  width:200px;
  background-color:var(--main-color);
  color:var(--white-color);
  /* border-bottom: 5px solid gray; */
  box-shadow: 0 4px 0 var(--gray-color);
  font-size: 1rem;
  position: relative;
  border:1px solid var(--white-color);
  border-radius: 27px;
  padding:10px 20px 10px 30px;
  /* transition:0.1s; */
  /* margin-bottom:3px; */
  font-weight:700;
}
.btn-center::before{
    content: '';
    position: absolute;
    right: 25px;
    width: 8px;
    height: 8px;
    border-top: 2px solid var(--white-color);
    border-right: 2px solid var(--white-color);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    /* margin-top:2px; */
    z-index:10;
}

.btn-center:hover {
  /* margin-top: 3px;
  margin-bottom:0px;
  border-bottom: 2px solid gray; */
  top:1px;
  box-shadow:0 2px 0 var(--gray-color);
  opacity:0.7;
}


.about{
  margin:100px 0 100px 0;
  /* height:800px; */
  /* border-bottom:10px solid var(--gray-color); */
  /* animation: fluidrotate 5s ease 0s infinite;/*アニメーションの設定*/ */
}

.about .tittle{
}
.about h1{
}
.about-contents{
  display:flex;
  justify-content:flex-start;
  width:100%;
  /* height:500px; */
  padding:40px 100px;
}
.about-text{
  width:50vw;
  padding:120px 50px;
  font-size:1rem;
  overflow-wrap: break-word;
  border-radius:20px;
  /* border-radius: 63% 37% 54% 46%/55% 48% 52% 45%; */
  /* font-weight:800; */
}
.about-text span{
  display:inline-block;
}
.about-text p{
  /* filter:drop-shadow(1px 1px white); */

}

.about-img{
  width:50vw;
  display:flex;
  justify-content:flex-start;
  align-items: center;
  opacity:0;
  margin:10px;
}
.about-img-round{
  margin:0 auto;
  /* width:300px; */
  /* height:300px; */
  /* background-color:var(--main-color); */
  /* border:6px solid #666; */
  display:flex;
  flex-flow: column;
  align-items: center;
  justify-content:flex-start;
  color:var(--main-color);
}


.about-img img{
  margin:auto auto 0;
  height:400px;
  width:400px;

  object-fit: cover;
  animation: fluidrotate 10s ease 0s infinite;/*アニメーションの設定*/
}
@keyframes fluidrotate {

0%, 100% {
    border-radius: 63% 37% 54% 46%/55% 48% 52% 45%;
}
14% {
    border-radius: 40% 60% 54% 46%/49% 60% 40% 51%;
}
28% {
    border-radius: 54% 46% 38% 62%/49% 70% 30% 51%;
}
42% {
    border-radius: 61% 39% 55% 45%/61% 38% 62% 39%;
}
56% {
    border-radius: 61% 39% 67% 33%/70% 50% 50% 30%;
}
70% {
    border-radius: 50% 50% 34% 66%/56% 68% 32% 44%;
}
84% {
    border-radius: 46% 54% 50% 50%/35% 61% 39% 65%;
}

}

.about-img h2{
  margin:0 auto auto;
  font-size:1.2rem;
  font-family: 'Righteous', cursive;

}

.about-btn-div{
  margin-top:0px;
  padding-bottom:50px;
}
.contact-btn-div{
  margin:200px 0;
}

.btn-contact-center{
  display: flex;
  align-items: center;
  margin: auto;
  /* width:300px; */
  background-color:#49AC00;
  color:var(--white-color);
  font-size: 1rem;
  position: relative;
  border-radius: 27px;
  padding:10px 40px 10px 30px;
  transition:0.2s ease;
  /* margin-bottom:3px; */
  font-weight:700;
}
.btn-contact-center::before{
    content: '';
    position: absolute;
    right: 25px;
    width: 8px;
    height: 8px;
    border-top: 2px solid var(--white-color);
    border-right: 2px solid var(--white-color);
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    /* margin-top:2px; */
    z-index:10;
}
.btn-contact-center:hover {
  opacity:0.8;

}

.contact-btn-div a:visited{
  color:var(--white-color);
}
.contact-btn-div a:link{
  color:var(--white-color);
}

.contact-set{
  position:relative;
  height:300px;
  width:600px;
  margin:200px auto;
  border:5px solid var(--main-color);
  border-radius:40px;
  box-shadow:10px 10px 0px var(--accent-color);
  background-color:white;
}
.contact-set :hover{

}
.contact-btn-div{
  position:absolute;
  top:-80px;
  z-index:2;
  left: 50%;
 transform:translateX(-75%);
 -webkit- transform:translateX(-75%);
}
.mail-image{
  position:absolute;
  top:60px;
  z-index: 1;
  left: 50%;
  transform:  translateX(-25%);
  -webkit- transform:translateX(-25%);
}
.to-contact-p{
  position:absolute;
  top:255px;
  z-index: 10;
  left: 50%;
  transform:  translateX(-50%);
  -webkit- transform:translateX(-50%);
  font-size:1rem;
  color:var(--main-color);
}
.mail-laptop{
  width:300px;
}

footer{
  width:100vw;
  padding:0;
}

.footer{
  width:100vw;
  position:relative;
  left:0;
  bottom:0;
  margin:0;
  padding:0;
  height:400px;
  z-index:1;


}

.footer-svg svg{
  width:100vw;
  position:absolute;
  right:0;
  left:0;
  bottom:0;
  margin:0;
  padding:0;
  height:500px;
  z-index:-100;
  filter:drop-shadow(0px -10px 0px var(--gray-color));
  position:absolute;
}
.footer-svg svg g{

}
.F-content{
  display:flex;
  justify-content:space-between;
  height:400px;]
  margin:0;
  padding:0;

}
.F-leftside{
  width:50vw;
  display:flex;
  justify-content:flex-start;
  padding-left:100px;
  color:var(--white-color);
}
.en-row{
  display:flex;
  flex-flow: column;
  justify-content:center;
  font-size:1rem;
  margin-top:100px;
  font-weight:700;
}
.ja-row{
  display:flex;
  flex-flow: column;
  justify-content:center;
  font-size:1rem;
  margin-top:100px;
}

.en-row-content{
  margin:5px;
  height:25px;
}
.en-row-content:hover{
 /* opacity:0.6; */
}
.ja-row-content{
  margin:5px;
  font-size:1rem;
  height:25px;
  font-weight:100;

}
.ja-row-content:hover{
 /* opacity:0.6; */
}
.F-rightside{
  /* background-color:lightgreen; */
  width:45vw;
  text-align:center;
  display:flex;
  color:var(--white-color);
  flex-flow: column;
  justify-content:flex-end;
  padding-bottom:50px;
}
.F-leftside a:visited{
  color:var(--white-color);
}
.F-leftside a:link{
  color:var(--white-color);
}
.F-logo{
  width:250px;
  margin:20px auto;
}
.F-logo svg{
width:250px;
margin-bottom:40px;
}
.F-mail{
  width:250px;
  margin:0 auto;
}
.F-mail p{
margin-bottom:100px;
position: relative;
padding: 0.25em 1em;
font-size:0.8rem;
border-top: solid 2px var(--white-color);
border-bottom: solid 2px var(--white-color);
}
.F-mail p:before, .F-mail p:after{
  content: '';
 position: absolute;
 top: -7px;
 width: 2px;
 height: -webkit-calc(100% + 14px);
 height: calc(100% + 14px);
 background-color: var(--white-color);
}
.F-mail p:before {
  left: 7px;
}
.F-mail p:after {
  right: 7px;
}


.F-copyright{
  font-size:0.8rem;
}
@media screen and (max-width: 1060px) {
	/* 959px以下に適用されるCSS（タブレット用） */

  .top-body-text{
    width:450px;
    top:155px;
  }
  .logo{
    height:50px;
  }
  .btn-div{
    display: flex;
  }
  .menu{
    display:none;
  }
  .top-body img{
    height:470px;
  }
  .service{
    /* height:660px; */
  }
  .service-contents{
    padding:0;
  }
  .service .tittle{
    transform:translateY(-50px);
  }

  .about{
    margin:100px 0 100px 0;
    /* height:1400px; */
  }
  .about-contents{
    padding:0px;
    flex-flow: column;
    align-items: center;
    justify-content: center;
  }
  .about-text{
    padding:100px 0px 20px;
  }
  .about-img{
  }
  .contact-set{
  }
  .ja-row{
    display:none;
  }
}
@media screen and (max-width: 480px) {
	/* 480px以下に適用されるCSS（スマホ用） */
  body{
    font-weight:500;
  }
  .g-nav ul {
      transform: translate(-60%,-65%);
  }
  .logo{
    height:25px;
  }
  .top-body img{
    height:300px;
  }
  .btn-div{
    margin-right:2px;
  }
  .btn{
    font-size: 0.7rem;
    padding:7px 28px 7px 25px;
    border-bottom: 3px solid #00662d;
  }
  .btn::before{
      right: 12px;
      width: 6px;
      height: 6px;
      margin-top:5px;
      border-top: 2px solid var(--white-color);
      border-right: 2px solid var(--white-color);
  }
  .top-contents{
    /* background-color:green; */
    /* height:450px; */
    height:80vh;
    padding-top:20vh;
  }
  .top-body-text{
    width:90vw;
    position:absolute;
    top:100px;
    padding:10px 0;
    border-radius:20px;
  }
  .top-body-text h1{
    font-size:1.6rem;
  }
  .top-body-text p{
    font-size:0.8rem;
  }

  .wave{
  position:relative;
  height:100px;
  }
  .service{
    padding-bottom:50px;
  }
  .service-contents{
    padding-top:0px;
    padding-bottom:0px;
    transform:translateY(10px);

  }
  .service .tittle h1,.service .tittle p {
    transform:translateY(-50px);
    color:var(--white-color);
  }

  .tittle{
    margin-left:10px;
    }
  .tittle h1{
      font-size:1.8rem;
  }
  .tittle p{
      font-size:1rem;
      margin-left:50px;
  }
  .service-top h1{
    font-size:1.5rem;
    width:250px;
    padding:30px;
  }
  .line-para p{
    margin:0 30px;
  }
    .btn-center{
      width:180px;
      font-size: 0.8rem;
      /* padding:10px 20px 10px 30px; */
      transition:0.3s;
      margin-bottom:30px;
      font-weight:700;

    }
    .about-img{
      margin-top:30px;
      width:90vw;
    }
    .about-img-round{
      width:300px;
      height:300px;

    }
    .about-img img{
      margin:auto auto auto;
      /* height:100px; */
    }
    .about-img h2{
      margin:0 auto auto;
      font-size:0.6rem;
    }

    .about-text{
      width:80vw;
      padding:70px 20px 90px;
      font-size:0.8rem;
      background:var(--white-color);
    }
    .about-btn-div{
      margin-top:40px;
    }
    .contact-set{
      width:300px;
      margin:50px auto;
      border-radius:20px;
      height:250px;
    }
    .contact-btn-div{
      position:absolute;
      top:-30px;
      z-index:2;
      left:50%;
     transform:translateX(-50%);
     -webkit- transform:translateX(-50%);
     padding:0;
    }
    .btn-contact-center{
      /* width:200px; */
      font-size: 0.7rem;
      /* padding:10px 18px 10px 10px; */
      padding:7px 23px 7px 20px;
      font-weight:700;
    }
    .contact-btn-div {
    margin: 170px 0;
    }
    .btn-contact-center::before{
      right: 10px;
      width: 6px;
      height: 6px;
      border-top: 2px solid var(--white-color);
      border-right: 2px solid var(--white-color);
    }
    .mail-image{
      top:40px;
      left: 50%;
      transform:  translateX(-50%);
      -webkit- transform:translateX(-50%);
    }
    .to-contact-p{
      top:180px;
      left: 25%;
      transform:  translateX(-10%);
      -webkit- transform:translateX(-10%);
      font-size:0.8rem;
    }
    .footer-svg svg{
      height:550px;
    }
    .F-leftside{
      display:none;
    }
    .F-rightside{
      width:100vw;
    }
    .F-logo img{
    margin-bottom:10px;
    }
    .F-mail{
    }


}
