.box{
  display:-webkit-flex;
  display:flex;
  -webkit-justify-content:space-around;
   justify-content:space-around;
   -webkit-align-items: center;
   align-items: center;
   /* height: 200px; */
   flex-wrap: wrap;
}

.box-child p{
font-size:1rem;
text-align:center;
}

.box-child{
  width:400px;
  margin:20px 120px 10px;
  position:relative;
  transition: 0.7s ease-in-out;
}
.box-child:hover{

}
.window-image{
  position:relative;
  z-index:100;

}
.site-image-parent{
	display: flex;
 justify-content: center;
 align-items: center;
 cursor: pointer;
 position: absolute;
 top: 52px;
 left: 5px;
}
.site-image-parent:hover{

}
.site-image{
	width:391px;
  height:231px;
 overflow-y: scroll;

}
.site-image img{
	width:100%;
	/* height:1000px; */
  border-radius:5px;
  object-fit: cover;
	object-position: 0% 0%;

  /* z-index:1; */
}
img.moweeb-pc-img{
	/* height:1300px; */
}
img.moweeb-mobile-img{
	/* height:4500px; */
}

@media screen and (max-width:480px){

	.box-child{
		width:200px;
		margin:20px 20px 10px;
	}


	.site-image{
		width:196px;
		height:118px;
	}
	.site-image-parent{
	 top: 24px;
	 left: 2px;
	}
	.site-image img{
 		width:196px;
	}


}
